*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    background-image: url('movie-theater-g31c62e433_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} 
.movieSearch{
    text-shadow: -1px 2px 0 silver;
    position: absolute;
    top: 10%;
    left: 40%;
    color: black;
    
} 
.table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: blanchedalmond;
}
.th, td {
  padding: 5px;

}

  .content {
    
    color: black;
    text-shadow: -1px 1px 0 silver;
    position: absolute;
    display: flex;
    font-size: 19px;
    text-align: center;
    top: 30%;
    left: 25%;
    right: 25%;
    bottom: 62%;
    width: auto;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;

  }
  